.quick-modal-front-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

.quick-modal-front-modal .disable {
	display: none;
}

.quick-modal-modal-window {
	position: absolute;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e6ebf5;
	background-image: url("../images/pawel-czerwinski.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-width: 300px;
}

.quick-modal-modal-window .quick-modal-close {
	position: absolute;
	top: -22px;
	width: 100%;
    height: 22px;
    background-color: #000000;
    color: #ffffff;
    opacity: 1;
    text-align: center;
    z-index: 1;
    padding-top: 2px;
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	font-family: 'Arial', sans-serif;
}

.quick-modal-modal-window .quick-modal-wrap {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 35px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.quick-modal-modal-window .quick-modal-wrap .title {
	font-size: 20px;
}

.quick-modal-modal-window .quick-modal-wrap a {
	color: #fff;
  	text-decoration: underline;
}

.quick-modal-modal-window .quick-modal-wrap a:hover, .quick-modal-modal-window .quick-modal-wrap a:active {
	color: #0071B3;
}

@media only screen and (min-width: 992px) {
	
	.quick-modal-modal-window {
		width: 90%;
		max-width: 950px;
		background-image: url("../images/volodymyr-hryshchenko.jpg");
		padding: 40px;
	}
	
	.quick-modal-modal-window .quick-modal-close {
		width: auto;
		background-color: transparent;
		position: absolute;
		top: 5px;
		padding-right: 0;
		right: 10px;
	}
	
	.quick-modal-modal-window .quick-modal-wrap {
		font-size: 18px;
	}
	
	.quick-modal-modal-window .quick-modal-wrap .title {
		font-size: 22px;
	}
	
	.quick-modal-modal-window .quick-modal-wrap p {
		margin-bottom: 20px;
	}
	
	.quick-modal-modal-window .quick-modal-wrap p:last-child {
		margin-bottom: 0;
	}

}